.services-body{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.service-cards{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 30px;
    margin-top: 30px;
}
.service-search{
    margin-top: 25px;
    gap: 30px;
}
.service-search button{
    margin-left: 30px;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #583bab;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.service-search input{
    width: 520px;
    padding: 10px;
}
.container{
    margin: 20px;
}
.checkbox{
    margin-top: 20px;
    box-shadow: 2px 4px 4px 4px gainsboro;
    padding: 0px 20px 0px 20px;
    width: 250px;
    border-radius: 5px;
}
@media screen and (max-width: 600px) {
    .services-body{
        display: block;
    }
    .service-cards{
        display: grid;
        grid-template-columns: repeat(1, 300px);
        align-items: center;
        justify-content: center;
    }
    .service-search input{
        width: 200px;
    }
    .service-search{
        display: flex;
        gap: 0;
        margin: 18px;

    }
    .checkbox{
        margin: 33px;
        padding: 28px;
    }
}
@media screen and (min-width: 1008px) {
    .services-body{
        gap: 100px;
    }
    .service-cards{
        gap: 60px;
    }
}