.game-zone{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.gameZone-details-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameZone-details-logo img{
    width: 50%;
}
.game-zone-btn{
    border: 1px solid gold;
    padding: 10px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background: white;
    color: goldenrod;
    margin-top: 20px;
    cursor: pointer;
}
.game-zone-btn:hover{
    background-color: gold;
    color: white;
    font-size: larger;
    border: none;
    box-shadow: 2px 3px 3px gainsboro;
}
@media screen and (max-width: 600px) {
    .game-zone{
        display: grid;
        grid-template-columns: repeat(1, 90%);
    }
    .game-zone-logo{
        width: 90%;
    }
}