.clients-logos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}
.clients-logos img{
    width: 180px;
}
@media screen and (max-width: 600px)  {
    .clients-logos{
        display: grid;
        grid-template-columns: repeat(2, 150px);
        gap: 30px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        width: 80%;
    }
}