.busineess-cards{
    width: 100%;
    text-align: center;
}
.info-cards{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
}
.see-more-btn{
    margin-top: 3%;
    border: 1px solid gold;
    color: goldenrod;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}
.see-more-btn:hover{
    background-color: gold;
    color: white;
    font-size: larger;
    border: none;
    box-shadow: 2px 3px 3px gainsboro;
}
.business-cards-title{
    color:  #583bab;
    text-align: center;
}
@media screen and (max-width: 600px){
    .busineess-cards{
        text-align: center;
    }
    .info-cards{
        display: grid;
        grid-template-columns: repeat(1, 300px);
    }
    
}
@media screen and (min-width: 1008px){
    .info-cards{
        gap: 100px
    }
}